## Data Type

The content below referred to chapter 3,4,5,8 of Essential Python (1st edition) by Sridevi Pudipeddi and Ravi Chityala

In [1]:
#Number
int1 = 12
print(int1)

float1 = -10.1
print(float1)  

c1 = 1 + 0.678j
print(c1) # c1 is a complex number

print(3.25e-7j) 

print(-2e19) # -2e19 means -2*10^19

12
-10.1
(1+0.678j)
3.25e-07j
-2e+19

In [2]:
#String
#single quote, double quote, triple quote return the same string
s1 = 'Python is cool' # this is a string variable 
print(s1)

s1 = "Python is cool"
print(s1)

s1 = '''Python is cool'''
print(s1)

Python is cool
Python is cool
Python is cool

In [3]:
### Boolean
"""
The bool of non-trivial values will result in True and bool of trivial values will result in False.
For integers, the trivial value is zero and non-trivial value is non-zero.
"""

print(bool(0))
print(bool(100))
print(bool(0.123))

False
True
True

In [4]:
print(bool(0.0)) #<- is 0.0 trivial or not?

False

In [5]:
#Boolean of String
#For String, the trivial value is an empty string and non-trivial value is non-empty string.
print(bool(""))
print('+++++++++++')
print(bool(''))

False
+++++++++++
False

In [8]:
print(bool(' ')) #<- is this an empty string? 
print('++++++++++++')
print(bool("Zebra"))

True
++++++++++++
True

In [11]:
"""
Learning Activity 1: Compute the value of 5>1.
Learning Activity 2: Print the value of 5.0+2. What do you observe? 
Learning Activity 3: Print the value of "Python"+2. What do you observe

"""
print(bool(5>1))
print(5.0+2)
print("Python"+2)  #Python 只能str+str。str+int时，int不会自动转换。

True
7.0

TypeError: can only concatenate str (not "int") to str

In [14]:
print(5>1)

True

In [15]:
print(5.0+2.)

7.0

In [16]:
print("Python"+2)

TypeError: can only concatenate str (not "int") to str

## Type Function and Convert Type

In [12]:
b = 10 # b is a variable that contains integer value. 
print(b, type(b))
print('++++++++++++++')
b = 10.1 # here b takes a new value that is float
print(b, type(b))

10 <class 'int'>
++++++++++++++
10.1 <class 'float'>

In [13]:
a = 5
b = float(a) #convert interger to float
c = int(b+2) #convert float to integer
print(a, b, c)
print(type(a),type(b),type(c))

5 5.0 7
<class 'int'> <class 'float'> <class 'int'>

In [14]:

A = '14'
B = int(A) # convert character format number to integer
C = float(A) # convert integer to float
print(B, C)

print('-----')
print(type(A))
print(type(B))

14 14.0
-----
<class 'str'>
<class 'int'>

comments: The type() function also return the class type of the data.

In [16]:
"""
Learning Activity 4: If D = '14', convert D to float and print that value and its type.

"""
D = '14'
E = float(D)
F = str(E)
print(E, type(E))
print(F, type(F))

14.0 <class 'float'>
14.0 <class 'str'>

In [17]:
#None is a special data type that is used to represent a no value. It is similar in idea to null or nil in other languages.

a = None
print(a)
print(type(a))

print('++++++++')
b=''
print(type(b))   #empty string's type is still 'str'

None
<class 'NoneType'>
++++++++
<class 'str'>

In [6]:
c = None
print (a is c)

True

## Operators

Arithmetic Operators 
#### + ,-,  *,   /,  % (Modulus),  //(Floor Division), **(Exponent)

Comparison (Relational) Operators 
####  == ,  != ,  < ,  > ,  <= ,   >= 

Assignment Operators  
#### +=, -+, *=, /=, %=, //=,  **=

Logical (Boolean) Operators
#### and, or , not

Membership Operators
####  in, not in

Identity Operators
####  is , is not

In [18]:
c=7
c+=2 #c=c+2
print(c)

9

In [19]:
c=7
c*=2 #c=c*2
print(c)

14

In [29]:
#Identity operator returns a unique number for the lifetime of an object.,the number is unique for a particular 
#kernel. It means, there is no guarantee that id of an object will be same if we restart the kernel.

x = 4
y = 5
print(x is y) # 'is'
print("ID of x is:", id(x)) 
print("ID of y is:", id(y))

False
ID of x is: 2766655875472
ID of y is: 2766655875504

In [28]:
#is: Returns True if operands point to the same memory location

a = 7 
b = 4
print(a is not b) 
print("ID of a is:", id(a))
print("ID of b is:", id(b))

True
ID of a is: 2766655875568
ID of b is: 2766655875472

In [31]:
"""In class activity: do you see any pair of varibles have same id ? """

'In class activity: do you see any pair of varibles have same id ? '

In [28]:
#is: Returns True if operands point to the same memory location
a = "Apple" 
b = a
print(a is b)
print("ID of a is:", id(a))
print("ID of b is:", id(b))

True
ID of a is: 140718295772656
ID of b is: 140718295772656

## Data Structure

In [33]:
#List, an ordered sequence of objects. Elements in the list can be any Python objects. They are mutable.
#Mutable data structures can be modified, that means, elements can be added to them or elements can be removed.


A = [4, 7, 5]
print('number of elements is:', len(A))
print('+++++++++++++++++++++++++++++++++++++') 

goodFruits = ['apricot', 'banana', 'grapes']
for gf in goodFruits:
    print('We are printing one element at a time:', gf)
    

# print('+++++++++++++++++++++++++++++++++++++') 

A = [4, 7, 5]
print('the max and min are: ', max(A), min(A))

number of elements is: 3
+++++++++++++++++++++++++++++++++++++
We are printing one element at a time: apricot
We are printing one element at a time: banana
We are printing one element at a time: grapes
the max and min are:  7 4

In [35]:
#commonly used list methods
#index starts from 0
#insert(i,v), Will insert item v at index i.
A = [4, 7, 5]
A.insert(2, -3) 
print(A)

#pop([i]), Will remove and return the item at index i.If no index is provided, the LAST item will be removed and returned.
B = A.pop(1) # will pop 7 that is located at index 1
print(A)
print(B)

A.pop() #if no index was provided, which element will be removed ? 
print(A)

A.remove(-3) # will remove -3 from the list A
print(A)

A.append(3.14) # 3.14 will get appended to A
print(A)

A.append([-6, -7]) # list [-6, -7] will be appended to A
print(A)

A.extend([-9,-8]) # values -9 and -8 will be appended to A, extend of a list separates each element and adds them to the end of the list.
print(A)

[4, 7, -3, 5]
[4, -3, 5]
7
[4, -3]
[4]
[4, 3.14]
[4, 3.14, [-6, -7]]
[4, 3.14, [-6, -7], -9, -8]

In [5]:
A = []
for t in range(0,5):   #t=0; t<5; t++
    A.append(3.14)
    print(A)

[3.14]
[3.14, 3.14]
[3.14, 3.14, 3.14]
[3.14, 3.14, 3.14, 3.14]
[3.14, 3.14, 3.14, 3.14, 3.14]

In [36]:
A = [4, 7, 5]
print(type(A))

<class 'list'>

In [40]:
#List, sort method
#that sort is inline and it replaces the original list with the sorted list. Hence, it does not have to return a new list.

A = [1, 5, 4, 7, 3]
sortout = A.sort()
print(A, sortout)

#sort() will sort with respect to the value at the zero index
lista = [[5, 7], [2, 9]] 
lista.sort()
print(lista)

listb = [[5, 7], [5,4]]  #<-what if zeron index tie, which inner list will be first ? 
listb.sort()
print(listb)

[1, 3, 4, 5, 7] None
[[2, 9], [5, 7]]
[[5, 4], [5, 7]]

In [15]:
#List concatenation using '+' sign
list1 = [-10, -9]
list2 = [9, 10]
list3 = list1 + list2
print(list3)

[-10, -9, 9, 10]

In [41]:
"""

Learning Activity 1:  Consider listA = [12, 14, 16, 19, 20, 24].
1) To listA, add 18 at index 3. 
2) From the list that was obtained from #1, remove 19. 
3) To the list that was obtained from #2, 
extend with the list [28, 30]. Print the output after each case.

"""
A = [12, 14, 16, 19, 20, 24]
print(A)
A.insert(3, 18)
print(A)
A.remove(19)
print(A)
A.extend([28, 30])
print(A)

[12, 14, 16, 19, 20, 24]
[12, 14, 16, 18, 19, 20, 24]
[12, 14, 16, 18, 20, 24]
[12, 14, 16, 18, 20, 24, 28, 30]

In [42]:
#list comprehensions provide an efficient and elegant way to create lists from a list or other iterable object.
#It is faster compared to looping through each element in the list. It also provides a very succinct syntax making 
#the code readable. It can also prevent modifying the existing list in the process of creating a new list and hence 
#makes the code “functional”.

list1 = [-9, 2, 5]
list2 = []
for x in list1:
    list2.append(x*x)
print(list2)

#three lines of code can be replaced with the one-line of list comprehension as shown below.
list1 = [-9, 2, 5]
list2 = [x*x for x in list1] #list comprehension
print(list2)

[81, 4, 25]
[81, 4, 25]

In [43]:
#Tuple,an ordered sequence of objects. Elements in the tuple can be any Python objects. Tuples are immutable. 
#So, the elements of a tuple cannot be modified after they have been created.
#It is mandatory to have a comma at the end for tuples with one element. However, it is optional when there is more 
#than one element.


tuple1 = ('one')
print(tuple1, type(tuple1))
print('-------')
tuple1 = ('one',)  #<--see the additional comma
print(tuple1, type(tuple1))

tuple2 = (13, 19, 25,) 
print(tuple2[0]) # accessing the first element in tuple2
print('-------')
print(tuple2[1]) # accessing the second element in tuple2

print('+++++++ Try to aler element of Tuple2, and get TypeError +++++++')
tuple2[1] = 29

one <class 'str'>
-------
('one',) <class 'tuple'>
13
-------
19
+++++++ Try to aler element of Tuple2, and get TypeError +++++++

TypeError: 'tuple' object does not support item assignment

In [45]:
#are they tuple or list? 
a = (13, 19, 25, 27) 
print(type(a))
b = [13, 19, 25, 27]
print(type(b))
c =[13, 19, 25, 27,]
print(type(c))
d = (13, 19, 25, 27,) 
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'list'>
<class 'tuple'>

In [46]:
for t in tuple2:
    print(t)

13
19
25

In [47]:
#create tuple of tuple
t1 = ('the good', 'the bad', 'the ugly',)
t2 = ('Clint Eastwood',)
t3 = (t1, t2)
print(t3)


#Concatenation of the tuples can be done by using '+' operator.
t1 = ('the good', 'the bad', 'the ugly')
t2 = ('Clint Eastwood',)
t5 = t1 + t2
print(t5)
print(type(t5))

(('the good', 'the bad', 'the ugly'), ('Clint Eastwood',))
('the good', 'the bad', 'the ugly', 'Clint Eastwood')
<class 'tuple'>

In [49]:
#convert tuple to list
tuple_to_list = list(t5)
print(tuple_to_list, type(tuple_to_list))

#convert list to tuple
list_ratings = ['bad', 'okay', 'excellent']
list_to_tuple = tuple(list_ratings)
print(list_to_tuple, type(list_to_tuple))

['the good', 'the bad', 'the ugly', 'Clint Eastwood'] <class 'list'>
('bad', 'okay', 'excellent') <class 'tuple'>

In [50]:
#Dictionary,is a sequence of key and value pairs. Dictionary is mutable as new key-values can be added and existing
#key-values can be modified. In a dictionary, the keys have to be immutable.

#use curly brace to define dictionary
D1 = {'b': 'ice', 'c': 'steam', 'a': 'water'}
print(D1)

#use dict() function to define dictionary
any_fruit = dict(a='mango', b='pear')
print(any_fruit)

city_temp = {'San Francisco': 72, 'New York': 51}
print(city_temp)


city_temp['Austin'] = 80
print(city_temp)

print(city_temp.keys())

print(city_temp.values())

print('++++++++++++++++++++++++++')
for key in city_temp:
    print(key, city_temp[key]) #print one key and its corresponding value.
    
print('++++++++++++++++++++++++++')    
for key,value in city_temp.items():  #access the contents of a dictionary as an iterable object using the items() method.
    print(key, value)

{'b': 'ice', 'c': 'steam', 'a': 'water'}
{'a': 'mango', 'b': 'pear'}
{'San Francisco': 72, 'New York': 51}
{'San Francisco': 72, 'New York': 51, 'Austin': 80}
dict_keys(['San Francisco', 'New York', 'Austin'])
dict_values([72, 51, 80])
++++++++++++++++++++++++++
San Francisco 72
New York 51
Austin 80
++++++++++++++++++++++++++
San Francisco 72
New York 51
Austin 80

In [54]:
#Dictionary Comprehension
list1 = [-9, 10, 14]
cubed = {x: x**3 for x in list1}
print(cubed)

print('-------')
rangeiter = range(10)
cubed = {x: x**3 for x in rangeiter}
print(cubed)

print('-------')
rangeiter = range(20)
cubed = {x: x**3 for x in rangeiter if x%2==1}
print(cubed)

{-9: -729, 10: 1000, 14: 2744}
-------
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}
-------
{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 11: 1331, 13: 2197, 15: 3375, 17: 4913, 19: 6859}

In [56]:
"""
Learning Activity 6: Define a dictionary with the following key value pairs: 'France': 1789, 'India': 1947, 'USA': 1776, 'Brazil': 1822 \
Learning Activity 7: Given D2 = {'apples':25, 'bananas': 76}, then add {'kiwi': 56} to D2.

"""
D1 = {'France': 1789, 'India': 1947, 'USA': 1776, 'Brazil': 1822}
print(D1)
D2 = {'apples':25, 'bananas': 76} 
D2['kiwi'] = 56
print(D2)

{'France': 1789, 'India': 1947, 'USA': 1776, 'Brazil': 1822}
{'apples': 25, 'bananas': 76, 'kiwi': 56}

## Basic Statements

In [1]:
#If-else
x = int(input("Please enter a number: "))
if x < 50:
    print("You chose a number less than 50.")
elif x > 50 and x < 100:
    print("You chose a number that is between 50 and 100.")
else:
    print ("You chose a number greater than 100.")

Please enter a number: 8
You chose a number less than 50.

In [3]:
#Range

a = range(5) 
print(a)
print(list(a))
print('+++++++++++++++++++++')
print(range(2, 9))
b=range(2,9)
print(list(b))
print('+++++++++++++++++++++')
print(range(2, 9, 3))
print(range(3, -3, -2))

range(0, 5)
[0, 1, 2, 3, 4]
+++++++++++++++++++++
range(2, 9)
[2, 3, 4, 5, 6, 7, 8]
+++++++++++++++++++++
range(2, 9, 3)
range(3, -3, -2)

In [33]:
#for loop 
arange = range(5)
for i in arange:
    print(i)

print('+++++++++++++++++++++')   

arange = range(2,9)
for j in arange:
    print(j)

print('+++++++++break statement ++++++++++++')   

#break,terminates the loop and transfers the execution to the statement after the loop.
#note: there is not '6 is not 5!' 
b = range(1, 9)
for i in b:
    if i%5 == 0:
        print(i)
        break
    else:
        print(i, "is not 5!")
        
print('+++++++++continue statement ++++++++++++')   
        
#continue, suspends execution of remaining statements in the loop and goes back to the next loop iteration.
for n in range(22, 30):
    if n%6 == 0:
        continue
    print(n, "is not a multiple of 6")

print('+++++++++pass statement ++++++++++++')   
#pass,This statement does nothing. The control goes to the next line. 
for item in range(3):
    pass

0
1
2
3
4
+++++++++++++++++++++
2
3
4
5
6
7
8
+++++++++break statement ++++++++++++
1 is not 5!
2 is not 5!
3 is not 5!
4 is not 5!
5
+++++++++continue statement ++++++++++++
22 is not a multiple of 6
23 is not a multiple of 6
25 is not a multiple of 6
26 is not a multiple of 6
27 is not a multiple of 6
28 is not a multiple of 6
29 is not a multiple of 6
+++++++++pass statement ++++++++++++

In [12]:
"""
In Class activities:
Learning Activity 1: If nlist = [12, 4, -6, 8, -20, 10]. Iterate through the list, stop when you hit the first negative value.
Learning Activity 2: Ask the user to input a year and if the input is the string '2000', then print "You are right." If user enters any other year, prompt the user to enter the correct year. 
Learning Activity 3: Create a list that starts with -10 and goes all the way up to 10 (inclusive). Find all the multiples of 4. 
Learning Activity 4: Create a list that starts with -10 and goes all the way up to 10 (inclusive). Then find the first multiple of 4.

"""
#1
print('1+++++++++++++++++++++')   
nlist = [12, 4, -6, 8, -20, 10]
for i in nlist:
    if(i<0):
        print(i, "is the first negative value.")
        break
    else:
        continue
#2
print('2+++++++++++++++++++++')   
y = str(input("Please enter a year: "))
if(y == "2000"):
    print("You are right.")
else:
    print("Run it again! To enter the correct year.")

#3
print('3+++++++++++++++++++++')   
nlist3 = range(-10, 11)
for i in nlist3:
    if(i%4==0):
        print(i, "is the multiples of 4.")
    else:
        continue

#4
print('4+++++++++++++++++++++')   
nlist4 = range(-10, 11)
for i in nlist3:
    if(i%4==0):
        print(i, "is the first multiples of 4.")
        break
    else:
        continue

1+++++++++++++++++++++
-6
2+++++++++++++++++++++
Please enter a year: 2000
You are right.
3+++++++++++++++++++++
-8 is the multiples of 4.
-4 is the multiples of 4.
0 is the multiples of 4.
4 is the multiples of 4.
8 is the multiples of 4.
4+++++++++++++++++++++
-8 is the first multiples of 4.

In [14]:
#While Loop
n = 5
while (n > 0):
    print("The value of n is: ", n)
    n -= 1 # n = n-1

print('---------------------')    

#We can of course replace the comparison statement with True in the while statement and that would guarantee that 
#the while condition is always true, making the loop run infinite times. To exit this loop, we need to have a break
#statement inside the while-block

n = 0
while True:
    if n == 4:
        print(n)
        break
    n += 1
    
print("I am out of while loop")
print(n)

The value of n is:  5
The value of n is:  4
The value of n is:  3
The value of n is:  2
The value of n is:  1
---------------------
4
I am out of while loop
4

In [15]:
#for else 
print('+++++++scenario 1 +++++++++++++++++++++')

list1 = ["Apple", "Orange", "Apricot"]
for item in list1:
    if item == "Orange":
        print("We found an Orange!")
        break
else:
    print("We didn't find Orange!")
    
    
print('+++++++scenario 2 +++++++++++++++++++++')

list2 = ["Apple", "Kiwi", "Apricot"]
for item in list2:
    if item == "Orange":
        print("We found an Orange!")
        break
else:
    print("We didn't find Orange!")

+++++++scenario 1 +++++++++++++++++++++
We found an Orange!
+++++++scenario 2 +++++++++++++++++++++
We didn't find Orange!

In [16]:
#while else
"""
while-else construct will get executed when the while condition is False.In the code below, notice
that since the while condition is False, the else clause gets executed.
"""
n = 5
while False:
    if n == 4:
        print(n)
        break 
    n -= 1
else:
    print("The while condition is False!")

The while condition is False!

In [21]:
# f string
"""
The f-strings have f at the beginning of the string. Any value or expression that needs to substituted must 
be placed inside curly braces.

f-string is very useful in industry, especially in data model, when we need to create different datasets using 
the same code many times, we can simply just change the input string

"""

a = 5


print(f"The value of {a} power 2 is {a**2}")

print(f"""The value of {a} power 2 is {a**2}""")

print('++++++++++++++')

lst = [3, 4, 5]
def mylen(lst):
    return len(lst)
print(f"The length is {mylen(lst)}")

The value of 5 power 2 is 25
The value of 5 power 2 is 25
++++++++++++++
The length is 3